body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.menu {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #3498db;
}

.menu button {
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.menu button:hover {
    background-color: #1c5980;
}

.converter, #estadistica, #noticias {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dark-mode .converter, .dark-mode #estadistica, .dark-mode #noticias {
    background: #444;
    color: #fff;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.bandera-resultado {
    display: inline-block;
    margin-right: 10px;
}

.bandera-resultado img {
    width: 20px;
    height: auto;
}

.hidden {
    display: none;
}
